.card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  border: 1px solid var(--gray-400);
  background: var(--gray-500);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
}

.checkboxContainer {
  display: flex;
  gap: 0.75rem;
}

.checkboxUncheked {
  background: transparent;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 1px solid var(--blue-light);
  cursor: pointer;
}

.checkboxChecked {
  background: var(--purple-dark);
  width: 1.5rem;
  height: 1.5rem;
  min-height: 20px;
  min-width: 20px;
  border-radius: 999px;
  border: 1px solid var(--purple-dark);
  cursor: pointer;
}

.checked {
  text-decoration: line-through;
  color: var(--gray-300);
}

.checkboxIndicator {
  color: var(--gray-100);
}


.removeBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--gray-300);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.removeBtn:hover {
  background: var(--gray-400);
  color: var(--danger);
}


